.App-styles {
  display: grid;
  grid-template-columns: 2fr 6fr;
}

.active {
  background-color: #96be0f;
}

@media screen and (min-device-width: 350px) and (max-device-width: 575px) {
  .App-styles {
    grid-template-columns: auto;
  }
}
