@import 'reset';

.providers-page-title {
  margin-top: 4em;
}

.providers-heading,
.providers-subheading {
  text-align: center;
  font-family: CircularStd;
}

.providers-heading {
  font-size: 2em;
  font-weight: 700;
}

.providers-subheading {
  margin: 1em 0;
}
