.field {
  width: 300px;
  padding: 0.5em 0.5em;
  border: 0;
  background-color: #eef4f7;
  font-size: 1.3em;
  margin-top: 0.5em;
  border-radius: 2%;
  margin-bottom: 0.8em;
  font-family: CircularStd;
}

.password-field {
  padding-bottom: 0.5em;
}

.label {
  font-family: CircularStd;
}
