.login-bg {
  background-color: #eef4f7;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.login-logo {
  margin: 0.2em 0;
  letter-spacing: 0.3em;
  font-weight: 700;
  color: #906717;
  font-size: 1em;
}

.login-wrapper {
  background-color: white;
  position: absolute;
  margin: 6em auto;
  padding: 3rem;
  box-shadow: 3px 3px 5px 6px #cccccc;
  border-radius: 1%;
  width: 400px;
  height: 600px;
  font-family: CircularStd;
}

.login-title {
  font-size: 2em;
  font-weight: 600;
  width: 400px;
  padding-bottom: 1em;
}

.label {
  font-weight: 600;
  font-size: 1.2em;
}

.email-field {
  padding-bottom: 1.5em;
}

.revealPass {
  margin-top: 0.5em;
  font-size: 1.1em;
}

.revealPass input {
  margin-right: 0.5em;
}

.hr-3 {
  width: 100%;
}

.login-errors {
  color: red;
  opacity: 0.7;
  padding-bottom: 0.5em;
}

@media screen and (min-device-width: 350px) and (max-device-width: 575px) {
  .login-wrapper {
    width: 250px;
    position: absolute;
    margin: 2em auto;
    padding: 3rem;
    box-shadow: 3px 3px 5px 6px #cccccc;
    border-radius: 1%;
    height: 450px;
  }

  .revealPass {
    margin: 0;
    font-size: 1em;
    margin-bottom: 0.5em;
  }

  .label {
    font-size: 1em;
  }

  .login-title {
    font-size: 1.5em;
    padding-bottom: 1em;
  }

  .login-wrapper {
    padding: 1rem 2rem;
  }

  .login-wrapper {
    overflow: hidden;
  }
}
