.sign-up-wrapper {
  background-color: white;
  position: absolute;
  margin: 3em auto;
  padding: 1rem 3rem;
  box-shadow: 3px 3px 5px 6px #cccccc;
  border-radius: 1%;
  width: 400px;
  height: 720px;
  font-family: CircularStd;
}

@media screen and (min-device-width: 350px) and (max-device-width: 575px) {
  .sign-up-wrapper {
    width: 250px;
    padding: 1rem 2rem;
    overflow: hidden;
    margin: 1.5em auto;
    height: 600px;
  }
}
